@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <!--banner section start -->
    <div style="background-color:#b4e6eb" class="banner_section layout_padding">
        <div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="banner_taital_main">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="image_1"><img src="~/images/doctor.png" style="width:100%"></div>
                                </div>
                                <div class="col-md-6">
                                    <h1 style="color:black;float:left;font-size:50px;font-weight:bold;text-align:center">Healthcare App</h1>
                                    <p style="color:black; float:left; font-size:16px;">
                                        This is the official website for our hospital.
                                        Doctors and patients are able to log in, patients can make appointments
                                        or see the contact info of their personal doctor.
                                        Doctors can approve appointments, write diagnosis for their patients 
                                        and prescribe medications.
                                    </p>
                                </div>                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner section end -->

    <hr class="featurette-divider" style="margin:5rem; height:1px">

    <!-- about section start -->
    <div class="row featurette align-items-center" style="text-align: center">
        <div class="col-md-5">
            <h2>About Us</h2>
            <p>
                This is the right place if you want to be treated right be helped by professionals! Read more about us in our section About Us.
            </p>
        </div>
        <div class="col-md-7">
            <img src="images/comfort.png" style="width:100%"/>
        </div>
    </div>
    
    <hr class="featurette-divider" style="margin:5rem; height:1px">

    <div class="row featurette align-items-center" style="text-align: center">
        <div class="col-md-7">
            <img src="images/hospitalStaff.jpg" style="width:100%">
        </div>
        <div class="col-md-5">
            <h2 class="make_text">Why choose us?</h2>
            <p class="lorem_text">
                Our doctors are professionals in their area and will always be able to help you with your health problem
            </p>
        </div>
    </div>
    <!-- about section end -->

    <hr class="featurette-divider" style="margin:5rem; height:1px"> 
    
    <!-- blog section start -->
    <div class="row featurette align-items-center" style="text-align: center">
        <div class="col-md-5">
            <h1 class="news_taital">Our Blog</h1>
            <p class="news_text">do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>
        <div class="col-md-7">
              <img src="images/blog.png" style="width:100%">
        </div>
    </div>
    <!-- blog section end -->

    <hr class="featurette-divider" style="margin:5rem; height:1px"> 

    <!-- health discussion section start -->        
    <div class="row featurette align-items-center" style="text-align: center">
        <div class="col-md-7">
                  <img src="images/health-discussion.png" style="width:100%">
        </div>
        <div class="col-md-5">
            <h2 class="classes_text">Health discussions</h2>
            <p class="ipsum_text">
                You have the opportunity to ask your personal doctor or other doctors for your problem
            </p>
        </div>
    </div>
    <!-- health discussion section end -->  
</body>
</html>
